.leftSideBar {
    height: 33%; /* Full-height: remove this if you want "auto" height */
    width: 250px; /* Set the width of the sidebar */
    background-color: #d6d6d6; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

.leftSideBar li{
    padding: 6px 8px 6px 8px;
    margin-bottom: 5px;
    width: 80%;
    font-size: 20px;
    border-radius: 4px;
    text-decoration: none;
    list-style-type: none;
    background-color: #696969;
}
.leftSideBar li a{
    text-decoration: none;
    color: #1f1f1f;
}
.leftSideBar ul{
    text-decoration: none;
}

a:focus {
    background-color: #b3b3b3;

}
.h1class {
    color: #d6d6d6
}
